In [18]:
#Importing Libraries
import pandas as pd 
import json

# Batter Records concatatination and exporting

In [19]:
Batter_records = pd.DataFrame()

In [20]:
with open('Final_Data/BatterData/Batter_2023.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2023 = pd.DataFrame(all_records)
    Batter_2023.tail()

In [21]:
Batter_2023

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR
0,India Vs South Africa,India,1,Yashasvi Jaiswal,c Miller b Jansen,0,3,0,0,0.00
1,India Vs South Africa,India,2,Shubman Gill,lbw b Williams,0,2,0,0,0.00
2,India Vs South Africa,India,3,Tilak Varma,c Jansen b Coetzee,29,20,4,1,145.00
3,India Vs South Africa,India,4,Suryakumar Yadav(c),c Jansen b Shamsi,56,36,5,3,155.55
4,India Vs South Africa,India,5,Rinku Singh,NaN,68,39,9,2,174.35
...,...,...,...,...,...,...,...,...,...,...
342,India Vs Sri Lanka,Sri Lanka,7,Wanindu Hasaranga,c Pandya b Shivam Mavi,21,10,1,2,210.00
343,India Vs Sri Lanka,Sri Lanka,8,Chamika Karunaratne,NaN,23,16,0,2,143.75
344,India Vs Sri Lanka,Sri Lanka,9,Maheesh Theekshana,c Yadav b Shivam Mavi,1,4,0,0,25.00
345,India Vs Sri Lanka,Sri Lanka,10,Kasun Rajitha,run out (Hooda/AR Patel),5,4,0,0,125.00
346,India Vs Sri Lanka,Sri Lanka,11,Dilshan Madushanka,run out (Hooda/â€ Ishan Kishan),0,0,0,0,-

In [22]:
Batter_2023['Year'] = '2023'

In [23]:
with open('Final_Data/BatterData/Batter_2022.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2022 = pd.DataFrame(all_records)
    Batter_2022.tail()

Batter_2022['Year'] = '2022'
Batter_2022

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,New Zealand Vs India,New Zealand,1,Finn Allen,lbw b Arshdeep Singh,3,4,0,0,75.00,2022
1,New Zealand Vs India,New Zealand,2,Devon Conwayâ€,c Ishan Kishan b Arshdeep Singh,59,49,5,2,120.40,2022
2,New Zealand Vs India,New Zealand,3,Mark Chapman,c Arshdeep Singh b Mohammed Siraj,12,12,2,0,100.00,2022
3,New Zealand Vs India,New Zealand,4,Glenn Phillips,c Kumar b Mohammed Siraj,54,33,5,3,163.63,2022
4,New Zealand Vs India,New Zealand,5,Daryl Mitchell,c â€ Pant b Arshdeep Singh,10,5,2,0,200.00,2022
...,...,...,...,...,...,...,...,...,...,...,...
605,West Indies Vs India,India,2,Ishan Kishan,c Allen b Chase,35,42,4,0,83.33,2022
606,West Indies Vs India,India,3,Virat Kohli,c Pollard b Allen,17,13,1,0,130.76,2022
607,West Indies Vs India,India,4,Rishabh Pantâ€,c Smith b Cottrell,8,8,0,0,100.00,2022
608,West Indies Vs India,India,5,Suryakumar Yadav,NaN,34,18,5,1,188.88,2022
609,West Indies Vs India,India,6,Venkatesh Iyer,NaN,24,13,2,1,184.61,2022

In [24]:
with open('Final_Data/BatterData/Batter_2021.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2021 = pd.DataFrame(all_records)
    Batter_2021.tail()

Batter_2021['Year'] = '2021'
Batter_2021

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,India Vs New Zealand,India,1,Rohit Sharma(c),c & b Sodhi,56,31,5,3,180.64,2021
1,India Vs New Zealand,India,2,Ishan Kishan,c â€ Seifert b Santner,29,21,6,0,138.09,2021
2,India Vs New Zealand,India,3,Suryakumar Yadav,c Guptill b Santner,0,4,0,0,0.00,2021
3,India Vs New Zealand,India,4,Rishabh Pantâ€,c Neesham b Santner,4,6,0,0,66.66,2021
4,India Vs New Zealand,India,5,Shreyas Iyer,c Mitchell b Milne,25,20,2,0,125.00,2021
...,...,...,...,...,...,...,...,...,...,...,...
227,India Vs England,India,9,Axar Patel,NaN,7,3,1,0,233.33,2021
228,India Vs England,England,1,Jason Roy,lbw b Washington Sundar,49,32,4,3,153.12,2021
229,India Vs England,England,2,Jos Buttlerâ€,lbw b Chahal,28,24,2,1,116.66,2021
230,India Vs England,England,3,Dawid Malan,NaN,24,20,2,1,120.00,2021
231,India Vs England,England,4,Jonny Bairstow,NaN,26,17,1,2,152.94,2021

In [25]:
with open('Final_Data/BatterData/Batter_2020.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2020 = pd.DataFrame(all_records)
    Batter_2020.tail()

Batter_2020['Year'] = '2020'
Batter_2020

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,Australia Vs India,Australia,1,Matthew Wadeâ€,lbw b Thakur,80,53,7,2,150.94,2020
1,Australia Vs India,Australia,2,Aaron Finch(c),c Pandya b Washington Sundar,0,2,0,0,0.00,2020
2,Australia Vs India,Australia,3,Steven Smith,b Washington Sundar,24,23,1,0,104.34,2020
3,Australia Vs India,Australia,4,Glenn Maxwell,b Natarajan,54,36,3,3,150.00,2020
4,Australia Vs India,Australia,5,Moises Henriques,NaN,5,2,1,0,250.00,2020
...,...,...,...,...,...,...,...,...,...,...,...
151,Sri Lanka Vs India,India,1,KL Rahul,b PWH de Silva,45,32,6,0,140.62,2020
152,Sri Lanka Vs India,India,2,Shikhar Dhawan,lbw b PWH de Silva,32,29,2,0,110.34,2020
153,Sri Lanka Vs India,India,3,Shreyas Iyer,c Shanaka b Kumara,34,26,3,1,130.76,2020
154,Sri Lanka Vs India,India,4,Virat Kohli(c),NaN,30,17,1,2,176.47,2020
155,Sri Lanka Vs India,India,5,Rishabh Pantâ€,NaN,1,1,0,0,100.00,2020

In [26]:
with open('Final_Data/BatterData/Batter_2019.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2019 = pd.DataFrame(all_records)
    Batter_2019.tail()

Batter_2019['Year'] = '2019'
Batter_2019

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,India Vs West Indies,India,1,Rohit Sharma,c Walsh b Williams,71,34,6,5,208.82,2019
1,India Vs West Indies,India,2,KL Rahul,c â€ Pooran b Cottrell,91,56,9,4,162.50,2019
2,India Vs West Indies,India,3,Rishabh Pantâ€,c Holder b Pollard,0,2,0,0,0.00,2019
3,India Vs West Indies,India,4,Virat Kohli(c),NaN,70,29,4,7,241.37,2019
4,India Vs West Indies,India,5,Shreyas Iyer,NaN,0,0,0,0,-,2019
...,...,...,...,...,...,...,...,...,...,...,...
226,New Zealand Vs India,India,7,Hardik Pandya,c Mitchell b Sodhi,4,4,1,0,100.00,2019
227,New Zealand Vs India,India,8,Krunal Pandya,c â€ Seifert b Southee,20,18,1,1,111.11,2019
228,New Zealand Vs India,India,9,Bhuvneshwar Kumar,c â€ Seifert b Ferguson,1,3,0,0,33.33,2019
229,New Zealand Vs India,India,10,Yuzvendra Chahal,b Mitchell,1,3,0,0,33.33,2019
230,New Zealand Vs India,India,11,Khaleel Ahmed,NaN,1,1,0,0,100.00,2019

In [27]:
with open('Final_Data/BatterData/Batter_2018.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['battingSummary'])

    Batter_2018 = pd.DataFrame(all_records)
    Batter_2018.tail()

Batter_2018['Year'] = '2018'
Batter_2018

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,Australia Vs India,Australia,1,D'Arcy Short,lbw b Pandya,33,29,5,0,113.79,2018
1,Australia Vs India,Australia,2,Aaron Finch(c),c Pandya b Kuldeep Yadav,28,23,4,0,121.73,2018
2,Australia Vs India,Australia,3,Glenn Maxwell,c Sharma b Pandya,13,16,2,0,81.25,2018
3,Australia Vs India,Australia,4,Ben McDermott,lbw b Pandya,0,1,0,0,0.00,2018
4,Australia Vs India,Australia,5,Alex Careyâ€,c Kohli b Pandya,27,19,4,0,142.10,2018
...,...,...,...,...,...,...,...,...,...,...,...
276,India Vs South Africa,South Africa,7,Andile Phehlukwayo,c Chahal b Unadkat,13,8,2,0,162.50,2018
277,India Vs South Africa,South Africa,8,Chris Morris,c Raina b Kumar,0,1,0,0,0.00,2018
278,India Vs South Africa,South Africa,9,Dane Paterson,run out (Pandya/â€ Dhoni),1,1,0,0,100.00,2018
279,India Vs South Africa,South Africa,10,Junior Dala,NaN,2,3,0,0,66.66,2018
280,India Vs South Africa,South Africa,11,Tabraiz Shamsi,NaN,0,2,0,0,0.00,2018

In [28]:
Batter_records = pd.concat([Batter_2023, Batter_2022, Batter_2021, Batter_2020, Batter_2019, Batter_2018], ignore_index=True)
Batter_records

,match,teamInnings,battingPos,batsmanName,dismissal,runs,balls,4s,6s,SR,Year
0,India Vs South Africa,India,1,Yashasvi Jaiswal,c Miller b Jansen,0,3,0,0,0.00,2023
1,India Vs South Africa,India,2,Shubman Gill,lbw b Williams,0,2,0,0,0.00,2023
2,India Vs South Africa,India,3,Tilak Varma,c Jansen b Coetzee,29,20,4,1,145.00,2023
3,India Vs South Africa,India,4,Suryakumar Yadav(c),c Jansen b Shamsi,56,36,5,3,155.55,2023
4,India Vs South Africa,India,5,Rinku Singh,NaN,68,39,9,2,174.35,2023
...,...,...,...,...,...,...,...,...,...,...,...
1852,India Vs South Africa,South Africa,7,Andile Phehlukwayo,c Chahal b Unadkat,13,8,2,0,162.50,2018
1853,India Vs South Africa,South Africa,8,Chris Morris,c Raina b Kumar,0,1,0,0,0.00,2018
1854,India Vs South Africa,South Africa,9,Dane Paterson,run out (Pandya/â€ Dhoni),1,1,0,0,100.00,2018
1855,India Vs South Africa,South Africa,10,Junior Dala,NaN,2,3,0,0,66.66,2018
1856,India Vs South Africa,South Africa,11,Tabraiz Shamsi,NaN,0,2,0,0,0.00,2018

In [29]:
Batter_records.to_csv('BatterRecords.csv', index=False)

# Bowler Data concatination and Exporting

In [36]:
Bowler_Records = pd.DataFrame()

In [30]:
with open('Final_Data/BowlerData/Bowler_2023.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2023 = pd.DataFrame(all_records)
    Bowler_2023.tail()

Bowler_2023['Year'] = '2023'
Bowler_2023

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,India Vs South Africa,South Africa,Marco Jansen,3,0,39,1,13.00,9,5,2,3,1,2023
1,India Vs South Africa,South Africa,Lizaad Williams,3,0,32,1,10.66,5,4,1,1,0,2023
2,India Vs South Africa,South Africa,Gerald Coetzee,3.3,0,32,3,9.14,10,3,2,1,0,2023
3,India Vs South Africa,South Africa,Andile Phehlukwayo,3,0,29,0,9.66,4,5,0,0,0,2023
4,India Vs South Africa,South Africa,Tabraiz Shamsi,4,0,18,1,4.50,10,1,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
248,India Vs Sri Lanka,India,Shivam Mavi,4,0,22,4,5.50,14,4,0,0,0,2023
249,India Vs Sri Lanka,India,Umran Malik,4,0,27,2,6.75,12,3,1,1,0,2023
250,India Vs Sri Lanka,India,Yuzvendra Chahal,2,0,26,0,13.00,2,0,3,0,0,2023
251,India Vs Sri Lanka,India,Harshal Patel,4,0,41,2,10.25,9,3,2,1,1,2023
252,India Vs Sri Lanka,India,Axar Patel,3,0,31,0,10.33,3,1,2,1,0,2023

In [31]:
with open('Final_Data/BowlerData/Bowler_2022.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2022 = pd.DataFrame(all_records)
    Bowler_2022.tail()

Bowler_2022['Year'] = '2022'
Bowler_2022

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,New Zealand Vs India,India,Bhuvneshwar Kumar,4,0,35,0,8.75,14,2,2,2,0,2022
1,New Zealand Vs India,India,Arshdeep Singh,4,0,37,4,9.25,14,6,1,1,1,2022
2,New Zealand Vs India,India,Mohammed Siraj,4,0,17,4,4.25,14,2,0,1,0,2022
3,New Zealand Vs India,India,Deepak Hooda,1,0,3,0,3.00,3,0,0,0,0,2022
4,New Zealand Vs India,India,Yuzvendra Chahal,3,0,35,0,11.66,4,4,1,0,0,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
450,West Indies Vs India,West Indies,Romario Shepherd,3,0,24,0,8.00,5,1,1,2,0,2022
451,West Indies Vs India,West Indies,Odean Smith,2,0,31,0,15.50,2,3,2,0,0,2022
452,West Indies Vs India,West Indies,Akeal Hosein,4,0,34,0,8.50,4,4,0,0,0,2022
453,West Indies Vs India,West Indies,Roston Chase,4,0,14,2,3.50,13,1,0,0,0,2022
454,West Indies Vs India,West Indies,Fabian Allen,1.5,0,23,1,12.54,2,3,1,0,0,2022

In [32]:
with open('Final_Data/BowlerData/Bowler_2021.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2021 = pd.DataFrame(all_records)
    Bowler_2021.tail()

Bowler_2021['Year'] = '2021'
Bowler_2021

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,India Vs New Zealand,New Zealand,Trent Boult,4,0,31,1,7.75,13,4,1,2,0,2021
1,India Vs New Zealand,New Zealand,Adam Milne,4,0,47,1,11.75,7,7,1,1,0,2021
2,India Vs New Zealand,New Zealand,Lockie Ferguson,4,0,45,1,11.25,6,3,3,1,0,2021
3,India Vs New Zealand,New Zealand,Mitchell Santner,4,0,27,3,6.75,10,3,0,2,0,2021
4,India Vs New Zealand,New Zealand,Ish Sodhi,4,0,31,1,7.75,4,1,1,0,0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178,India Vs England,India,Bhuvneshwar Kumar,2,0,15,0,7.50,6,2,0,0,0,2021
179,India Vs England,India,Yuzvendra Chahal,4,0,44,1,11.00,7,2,4,0,0,2021
180,India Vs England,India,Shardul Thakur,2,0,16,0,8.00,3,1,0,2,0,2021
181,India Vs England,India,Hardik Pandya,2,0,13,0,6.50,5,2,0,0,0,2021
182,India Vs England,India,Washington Sundar,2.3,0,18,1,7.20,5,1,1,0,0,2021

In [33]:
with open('Final_Data/BowlerData/Bowler_2020.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2020 = pd.DataFrame(all_records)
    Bowler_2020.tail()

Bowler_2020['Year'] = '2020'
Bowler_2020

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,Australia Vs India,India,Deepak Chahar,4,0,34,0,8.50,8,4,0,1,0,2020
1,Australia Vs India,India,Washington Sundar,4,0,34,2,8.50,9,4,0,1,0,2020
2,Australia Vs India,India,T Natarajan,4,0,33,1,8.25,8,3,0,2,0,2020
3,Australia Vs India,India,Yuzvendra Chahal,4,0,41,0,10.25,3,1,2,2,1,2020
4,Australia Vs India,India,Shardul Thakur,4,0,43,1,10.75,6,2,3,0,0,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,Sri Lanka Vs India,Sri Lanka,Lasith Malinga,4,0,41,0,10.25,5,3,1,0,0,2020
107,Sri Lanka Vs India,Sri Lanka,Lahiru Kumara,3.3,0,30,1,8.57,8,4,1,0,0,2020
108,Sri Lanka Vs India,Sri Lanka,Dhananjaya de Silva,2,0,15,0,7.50,2,1,0,0,0,2020
109,Sri Lanka Vs India,Sri Lanka,Dasun Shanaka,4,0,26,0,6.50,6,2,0,0,0,2020
110,Sri Lanka Vs India,Sri Lanka,Wanindu Hasaranga,4,0,30,2,7.50,6,2,1,0,0,2020

In [34]:
with open('Final_Data/BowlerData/Bowler_2019.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2019 = pd.DataFrame(all_records)
    Bowler_2019.tail()

Bowler_2019['Year'] = '2019'
Bowler_2019

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,India Vs West Indies,West Indies,Sheldon Cottrell,4,0,40,1,10.00,10,5,2,1,0,2019
1,India Vs West Indies,West Indies,Jason Holder,4,0,54,0,13.50,6,6,3,1,0,2019
2,India Vs West Indies,West Indies,Khary Pierre,2,0,35,0,17.50,1,2,3,1,0,2019
3,India Vs West Indies,West Indies,Kesrick Williams,4,0,37,1,9.25,9,2,3,0,0,2019
4,India Vs West Indies,West Indies,Hayden Walsh,4,0,38,0,9.50,6,3,2,0,0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,New Zealand Vs India,New Zealand,Scott Kuggeleijn,2,0,34,0,17.00,3,3,3,0,0,2019
183,New Zealand Vs India,New Zealand,Lockie Ferguson,4,0,22,2,5.50,13,2,1,0,0,2019
184,New Zealand Vs India,New Zealand,Mitchell Santner,4,0,24,2,6.00,13,1,2,0,0,2019
185,New Zealand Vs India,New Zealand,Daryl Mitchell,2.2,0,13,1,5.57,4,0,0,0,1,2019
186,New Zealand Vs India,New Zealand,Ish Sodhi,3,0,26,2,8.66,7,2,1,3,0,2019

In [35]:
with open('Final_Data/BowlerData/Bowler_2018.json') as f:
    data = json.load(f)

    all_records = []

    for rec in data:
        all_records.extend(rec['bowlingSummary'])

    Bowler_2018 = pd.DataFrame(all_records)
    Bowler_2018.tail()

Bowler_2018['Year'] = '2023'
Bowler_2018

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,Australia Vs India,India,Bhuvneshwar Kumar,4,0,33,0,8.25,7,5,0,0,0,2023
1,Australia Vs India,India,Khaleel Ahmed,4,0,35,0,8.75,10,5,0,4,0,2023
2,Australia Vs India,India,Jasprit Bumrah,4,0,38,0,9.50,5,5,0,1,0,2023
3,Australia Vs India,India,Kuldeep Yadav,4,0,19,1,4.75,13,1,0,2,0,2023
4,Australia Vs India,India,Krunal Pandya,4,0,36,4,9.00,5,5,0,1,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201,India Vs South Africa,India,Bhuvneshwar Kumar,4,0,24,5,6.00,10,1,1,0,0,2023
202,India Vs South Africa,India,Jaydev Unadkat,4,0,33,1,8.25,11,5,0,1,0,2023
203,India Vs South Africa,India,Jasprit Bumrah,4,0,32,0,8.00,9,3,1,0,1,2023
204,India Vs South Africa,India,Hardik Pandya,4,0,45,1,11.25,5,4,2,3,0,2023
205,India Vs South Africa,India,Yuzvendra Chahal,4,0,39,1,9.75,5,4,1,1,0,2023

In [37]:
Bowler_Records = pd.concat([Bowler_2023, Bowler_2022, Bowler_2021, Bowler_2020, Bowler_2019, Bowler_2018], ignore_index=True)
Bowler_Records

,match,bowlingTeam,bowlerName,overs,maiden,runs,wickets,economy,0s,4s,6s,wides,noBalls,Year
0,India Vs South Africa,South Africa,Marco Jansen,3,0,39,1,13.00,9,5,2,3,1,2023
1,India Vs South Africa,South Africa,Lizaad Williams,3,0,32,1,10.66,5,4,1,1,0,2023
2,India Vs South Africa,South Africa,Gerald Coetzee,3.3,0,32,3,9.14,10,3,2,1,0,2023
3,India Vs South Africa,South Africa,Andile Phehlukwayo,3,0,29,0,9.66,4,5,0,0,0,2023
4,India Vs South Africa,South Africa,Tabraiz Shamsi,4,0,18,1,4.50,10,1,0,0,0,2023
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1390,India Vs South Africa,India,Bhuvneshwar Kumar,4,0,24,5,6.00,10,1,1,0,0,2023
1391,India Vs South Africa,India,Jaydev Unadkat,4,0,33,1,8.25,11,5,0,1,0,2023
1392,India Vs South Africa,India,Jasprit Bumrah,4,0,32,0,8.00,9,3,1,0,1,2023
1393,India Vs South Africa,India,Hardik Pandya,4,0,45,1,11.25,5,4,2,3,0,2023
1394,India Vs South Africa,India,Yuzvendra Chahal,4,0,39,1,9.75,5,4,1,1,0,2023

In [38]:
Bowler_Records.to_csv('BowlerRecords.csv', index=False)

# Match Data Concatination and exporting

In [ ]:
Match_Records = pd.DataFrame()

In [39]:
with open('Final_Data/MatchData/MatchResults_2023.json') as f:
    data = json.load(f)

MatchResults_2023 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2023

,team1,team2,winner,margin,ground,matchDate,scorecard
0,South Africa,India,South Africa,5 wickets,Gqeberha,"Dec 12, 2023",T20I # 2396
1,India,Australia,India,6 runs,Bengaluru,"Dec 3, 2023",T20I # 2380
2,India,Australia,India,20 runs,Raipur,"Dec 1, 2023",T20I # 2379
3,India,Australia,Australia,5 wickets,Guwahati,"Nov 28, 2023",T20I # 2372
4,India,Australia,India,44 runs,Thiruvananthapuram,"Nov 26, 2023",T20I # 2367
5,India,Australia,India,2 wickets,Visakhapatnam,"Nov 23, 2023",T20I # 2360
6,Afghanistan,India,no result,-,Hangzhou,"Oct 7, 2023",T20I # 2301
7,Bangladesh,India,India,9 wickets,Hangzhou,"Oct 6, 2023",T20I # 2296
8,India,Nepal,India,23 runs,Hangzhou,"Oct 3, 2023",T20I # 2278
9,Ireland,India,India,33 runs,Dublin (Malahide),"Aug 20, 2023",T20I # 2208
10,Ireland,India,India,2 runs,Dublin (Malahide),"Aug 18, 2023",T20I # 2200
11,India,West Indies,West Indies,8 wickets,Lauderhill,"Aug 13, 2023",T20I # 2194
12,India,West Indies,India,9 wickets,Lauderhill,"Aug 12, 2023",T20I # 2193
13,West Indies,India,India,7 wickets,Providence,"Aug 8, 2023",T20I # 2192
14,West Indies,India,West Indies,2 wickets,Providence,"Aug 6, 2023",T20I # 2191
15,West Indies,India,West Indies,4 runs,Tarouba,"Aug 3, 2023",T20I # 2188
16,India,New Zealand,India,168 runs,Ahmedabad,"Feb 1, 2023",T20I # 1992
17,India,New Zealand,India,6 wickets,Lucknow,"Jan 29, 2023",T20I # 1991
18,India,New Zealand,New Zealand,21 runs,Ranchi,"Jan 27, 2023",T20I # 1990
19,India,Sri Lanka,India,91 runs,Rajkot,"Jan 7, 2023",T20I # 1986
20,India,Sri Lanka,Sri Lanka,16 runs,Pune,"Jan 5, 2023",T20I # 1985
21,India,Sri Lanka,India,2 runs,Wankhede,"Jan 3, 2023",T20I # 1984

In [41]:
with open('Final_Data/MatchData/MatchResults_2022.json') as f:
    data = json.load(f)

MatchResults_2022 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2022

,team1,team2,winner,margin,ground,matchDate,scorecard
0,New Zealand,India,tied,-,Napier,"Nov 22, 2022",T20I # 1911
1,New Zealand,India,India,65 runs,Mount Maunganui,"Nov 20, 2022",T20I # 1898
2,England,India,England,10 wickets,Adelaide,"Nov 10, 2022",T20I # 1878
3,India,Zimbabwe,India,71 runs,Melbourne,"Nov 6, 2022",T20I # 1873
4,Bangladesh,India,India,5 runs,Adelaide,"Nov 2, 2022",T20I # 1860
5,India,South Africa,South Africa,5 wickets,Perth,"Oct 30, 2022",T20I # 1853
6,India,Netherlands,India,56 runs,Sydney,"Oct 27, 2022",T20I # 1848
7,India,Pakistan,India,4 wickets,Melbourne,"Oct 23, 2022",T20I # 1842
8,India,South Africa,South Africa,49 runs,Indore,"Oct 4, 2022",T20I # 1805
9,India,South Africa,India,16 runs,Guwahati,"Oct 2, 2022",T20I # 1803
10,India,South Africa,India,8 wickets,Thiruvananthapuram,"Sep 28, 2022",T20I # 1800
11,India,Australia,India,6 wickets,Hyderabad,"Sep 25, 2022",T20I # 1796
12,India,Australia,India,6 wickets,Nagpur,"Sep 23, 2022",T20I # 1794
13,India,Australia,Australia,4 wickets,Mohali,"Sep 20, 2022",T20I # 1788
14,Afghanistan,India,India,101 runs,Dubai (DSC),"Sep 8, 2022",T20I # 1761
15,India,Sri Lanka,Sri Lanka,6 wickets,Dubai (DSC),"Sep 6, 2022",T20I # 1759
16,India,Pakistan,Pakistan,5 wickets,Dubai (DSC),"Sep 4, 2022",T20I # 1758
17,Hong Kong,India,India,40 runs,Dubai (DSC),"Aug 31, 2022",T20I # 1754
18,India,Pakistan,India,5 wickets,Dubai (DSC),"Aug 28, 2022",T20I # 1750
19,India,West Indies,India,88 runs,Lauderhill,"Aug 7, 2022",T20I # 1726
20,India,West Indies,India,59 runs,Lauderhill,"Aug 6, 2022",T20I # 1725
21,West Indies,India,India,7 wickets,Basseterre,"Aug 2, 2022",T20I # 1720
22,West Indies,India,West Indies,5 wickets,Basseterre,"Aug 1, 2022",T20I # 1718
23,West Indies,India,India,68 runs,Tarouba,"Jul 29, 2022",T20I # 1702
24,England,India,England,17 runs,Nottingham,"Jul 10, 2022",T20I # 1631
25,England,India,India,49 runs,Birmingham,"Jul 9, 2022",T20I # 1628
26,England,India,India,50 runs,Southampton,"Jul 7, 2022",T20I # 1616
27,Ireland,India,India,4 runs,Dublin (Malahide),"Jun 28, 2022",T20I # 1586
28,Ireland,India,India,7 wickets,Dublin (Malahide),"Jun 26, 2022",T20I # 1580
29,India,South Africa,no result,-,Bengaluru,"Jun 19, 2022",T20I # 1575
30,India,South Africa,India,82 runs,Rajkot,"Jun 17, 2022",T20I # 1572
31,India,South Africa,India,48 runs,Visakhapatnam,"Jun 14, 2022",T20I # 1571
32,India,South Africa,South Africa,4 wickets,Cuttack,"Jun 12, 2022",T20I # 1569
33,India,South Africa,South Africa,7 wickets,Delhi,"Jun 9, 2022",T20I # 1554
34,India,Sri Lanka,India,6 wickets,Dharamsala,"Feb 27, 2022",T20I # 1494
35,India,Sri Lanka,India,7 wickets,Dharamsala,"Feb 26, 2022",T20I # 1493
36,India,Sri Lanka,India,62 runs,Lucknow,"Feb 24, 2022",T20I # 1492
37,India,West Indies,India,17 runs,Eden Gardens,"Feb 20, 2022",T20I # 1479
38,India,West Indies,India,8 runs,Eden Gardens,"Feb 18, 2022",T20I # 1473
39,India,West Indies,India,6 wickets,Eden Gardens,"Feb 16, 2022",T20I # 1467

In [42]:
with open('Final_Data/MatchData/MatchResults_2021.json') as f:
    data = json.load(f)

MatchResults_2021 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2021

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,New Zealand,India,73 runs,Eden Gardens,"Nov 21, 2021",T20I # 1446
1,India,New Zealand,India,7 wickets,Ranchi,"Nov 19, 2021",T20I # 1440
2,India,New Zealand,India,5 wickets,Jaipur,"Nov 17, 2021",T20I # 1434
3,India,Namibia,India,9 wickets,Dubai (DSC),"Nov 8, 2021",T20I # 1410
4,India,Scotland,India,8 wickets,Dubai (DSC),"Nov 5, 2021",T20I # 1396
5,Afghanistan,India,India,66 runs,Abu Dhabi,"Nov 3, 2021",T20I # 1390
6,India,New Zealand,New Zealand,8 wickets,Dubai (DSC),"Oct 31, 2021",T20I # 1381
7,India,Pakistan,Pakistan,10 wickets,Dubai (DSC),"Oct 24, 2021",T20I # 1361
8,Sri Lanka,India,Sri Lanka,7 wickets,Colombo (RPS),"Jul 29, 2021",T20I # 1207
9,Sri Lanka,India,Sri Lanka,4 wickets,Colombo (RPS),"Jul 28, 2021",T20I # 1206
10,Sri Lanka,India,India,38 runs,Colombo (RPS),"Jul 25, 2021",T20I # 1204
11,India,England,India,36 runs,Ahmedabad,"Mar 20, 2021",T20I # 1138
12,India,England,India,8 runs,Ahmedabad,"Mar 18, 2021",T20I # 1135
13,India,England,England,8 wickets,Ahmedabad,"Mar 16, 2021",T20I # 1133
14,India,England,India,7 wickets,Ahmedabad,"Mar 14, 2021",T20I # 1132
15,India,England,England,8 wickets,Ahmedabad,"Mar 12, 2021",T20I # 1131

In [43]:
with open('Final_Data/MatchData/MatchResults_2020.json') as f:
    data = json.load(f)

MatchResults_2020 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2020

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Australia,India,Australia,12 runs,Sydney,"Dec 8, 2020",T20I # 1116
1,Australia,India,India,6 wickets,Sydney,"Dec 6, 2020",T20I # 1115
2,Australia,India,India,11 runs,Canberra,"Dec 4, 2020",T20I # 1114
3,New Zealand,India,India,7 runs,Mount Maunganui,"Feb 2, 2020",T20I # 1037
4,New Zealand,India,tied,-,Wellington,"Jan 31, 2020",T20I # 1036
5,New Zealand,India,tied,-,Hamilton,"Jan 29, 2020",T20I # 1035
6,New Zealand,India,India,7 wickets,Auckland,"Jan 26, 2020",T20I # 1034
7,New Zealand,India,India,6 wickets,Auckland,"Jan 24, 2020",T20I # 1031
8,India,Sri Lanka,India,78 runs,Pune,"Jan 10, 2020",T20I # 1027
9,India,Sri Lanka,India,7 wickets,Indore,"Jan 7, 2020",T20I # 1026
10,India,Sri Lanka,no result,-,Guwahati,"Jan 5, 2020",T20I # 1025

In [44]:
with open('Final_Data/MatchData/MatchResults_2019.json') as f:
    data = json.load(f)

MatchResults_2019 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2019

,team1,team2,winner,margin,ground,matchDate,scorecard
0,India,West Indies,India,67 runs,Wankhede,"Dec 11, 2019",T20I # 1024
1,India,West Indies,West Indies,8 wickets,Thiruvananthapuram,"Dec 8, 2019",T20I # 1022
2,India,West Indies,India,6 wickets,Hyderabad,"Dec 6, 2019",T20I # 1020
3,India,Bangladesh,India,30 runs,Nagpur,"Nov 10, 2019",T20I # 1014
4,India,Bangladesh,India,8 wickets,Rajkot,"Nov 7, 2019",T20I # 1007
5,India,Bangladesh,Bangladesh,7 wickets,Delhi,"Nov 3, 2019",T20I # 1000
6,India,South Africa,South Africa,9 wickets,Bengaluru,"Sep 22, 2019",T20I # 893
7,India,South Africa,India,7 wickets,Mohali,"Sep 18, 2019",T20I # 888
8,West Indies,India,India,7 wickets,Providence,"Aug 6, 2019",T20I # 846
9,India,West Indies,India,22 runs,Lauderhill,"Aug 4, 2019",T20I # 843
10,India,West Indies,India,4 wickets,Lauderhill,"Aug 3, 2019",T20I # 842
11,India,Australia,Australia,7 wickets,Bengaluru,"Feb 27, 2019",T20I # 749
12,India,Australia,Australia,3 wickets,Visakhapatnam,"Feb 24, 2019",T20I # 748
13,New Zealand,India,New Zealand,4 runs,Hamilton,"Feb 10, 2019",T20I # 738
14,New Zealand,India,India,7 wickets,Auckland,"Feb 8, 2019",T20I # 737
15,New Zealand,India,New Zealand,80 runs,Wellington,"Feb 6, 2019",T20I # 735

In [45]:
with open('Final_Data/MatchData/MatchResults_2018.json') as f:
    data = json.load(f)

MatchResults_2018 = pd.DataFrame(data[0]['matchSummary'])
MatchResults_2018

,team1,team2,winner,margin,ground,matchDate,scorecard
0,Australia,India,India,6 wickets,Sydney,"Nov 25, 2018",T20I # 714
1,Australia,India,no result,-,Melbourne,"Nov 23, 2018",T20I # 713
2,Australia,India,Australia,4 runs,Brisbane,"Nov 21, 2018",T20I # 712
3,India,West Indies,India,6 wickets,Chennai,"Nov 11, 2018",T20I # 710
4,India,West Indies,India,71 runs,Lucknow,"Nov 6, 2018",T20I # 709
5,India,West Indies,India,5 wickets,Eden Gardens,"Nov 4, 2018",T20I # 707
6,England,India,India,7 wickets,Bristol,"Jul 8, 2018",T20I # 690
7,England,India,England,5 wickets,Cardiff,"Jul 6, 2018",T20I # 688
8,England,India,India,8 wickets,Manchester,"Jul 3, 2018",T20I # 684
9,Ireland,India,India,143 runs,Dublin (Malahide),"Jun 29, 2018",T20I # 680
10,Ireland,India,India,76 runs,Dublin (Malahide),"Jun 27, 2018",T20I # 678
11,Bangladesh,India,India,4 wickets,Colombo (RPS),"Mar 18, 2018",T20I # 662
12,Bangladesh,India,India,17 runs,Colombo (RPS),"Mar 14, 2018",T20I # 660
13,Sri Lanka,India,India,6 wickets,Colombo (RPS),"Mar 12, 2018",T20I # 659
14,Bangladesh,India,India,6 wickets,Colombo (RPS),"Mar 8, 2018",T20I # 657
15,Sri Lanka,India,Sri Lanka,5 wickets,Colombo (RPS),"Mar 6, 2018",T20I # 656
16,South Africa,India,India,7 runs,Cape Town,"Feb 24, 2018",T20I # 655
17,South Africa,India,South Africa,6 wickets,Centurion,"Feb 21, 2018",T20I # 654
18,South Africa,India,India,28 runs,Johannesburg,"Feb 18, 2018",T20I # 652

In [46]:
Match_Records = pd.concat([MatchResults_2023, MatchResults_2022, MatchResults_2021, MatchResults_2020, MatchResults_2019, MatchResults_2018], ignore_index=True)
Match_Records

,team1,team2,winner,margin,ground,matchDate,scorecard
0,South Africa,India,South Africa,5 wickets,Gqeberha,"Dec 12, 2023",T20I # 2396
1,India,Australia,India,6 runs,Bengaluru,"Dec 3, 2023",T20I # 2380
2,India,Australia,India,20 runs,Raipur,"Dec 1, 2023",T20I # 2379
3,India,Australia,Australia,5 wickets,Guwahati,"Nov 28, 2023",T20I # 2372
4,India,Australia,India,44 runs,Thiruvananthapuram,"Nov 26, 2023",T20I # 2367
...,...,...,...,...,...,...,...
119,Bangladesh,India,India,6 wickets,Colombo (RPS),"Mar 8, 2018",T20I # 657
120,Sri Lanka,India,Sri Lanka,5 wickets,Colombo (RPS),"Mar 6, 2018",T20I # 656
121,South Africa,India,India,7 runs,Cape Town,"Feb 24, 2018",T20I # 655
122,South Africa,India,South Africa,6 wickets,Centurion,"Feb 21, 2018",T20I # 654
123,South Africa,India,India,28 runs,Johannesburg,"Feb 18, 2018",T20I # 652

In [47]:
Match_Records.to_csv('MatchRecords.csv', index=False)